<%= form_for @bug, url: update_status_bug_path(@bug,) ,class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <%= f.label :status, class: 'control-label col-sm-2' do %>
      Status <%= content_tag(:span, '*', class: 'required') %>
    <% end %>
    <div class="col-sm-10">
      <%= f.select :status, Bug.statuses.keys, { required: true }, class: 'form-control' %>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Update Status', class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>